* {
  background-color: maroon;
  font-family: Arial;
}

h2 {
  color: white;
}

#dashboard_header {
  padding-left: 21.5%;
}

#course_header {
  padding-left: 15%;
}

#course_header_announcements {
  padding-left: 22.5%
}

@media (min-width: 768px) {
  #main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  #main_menu {
    flex: 10%;
    background-color: darkgray;
    font-weight: bold;
    font-size: 120%;
  }

  #course_menu {
    flex: 10%;
    background-color: darkgray;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.3%;
  }

  #main_panel {
    flex: 43%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #courses_panel {
    flex: 43%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
  }

  #assignments_panel {
    flex: 17%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #settings_user_panel {
      flex: 50%;
      display: flex;
      flex-direction: column;
      padding: 1%;
  }
}

@media (max-width: 767px) {
  #main {
    display: flex;
    flex-direction: column;
  }

  #main_menu {
    flex: 100%;
    background-color: darkgray;
    font-weight: bold;
    font-size: 120%;
  }

  #course_menu {
    flex: 100%;
    background-color: darkgray;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.3%;
  }

  #main_panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #courses_panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #assignments_panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #settings_user_panel {
      flex: 100%;
      display: flex;
      flex-direction: column;
      padding: 1%;
  }
}

.column {
  margin: 1%;
}

ul {
  list-style-type: none;
  padding: 0%;
}

a {
  text-decoration: none;
}

.main_menu_items {
  background-color: dimgray;
  color: white;
}

li.main_menu_items {
  border-bottom: 3px solid darkgray;
  padding: 8% 12% 8% 12%;
}

li.course_menu_items {
  border-top: 2px solid darkgray;
  padding: 6%;
}

h3, p, .course_menu_items, #main_panel, .announcement, .announcement_title, #assignments_panel, .assignment, .assignment_section, .assignment_section_title, .assignment_title, .announcement_form, .assignment_form {
  background-color: white;
}

.announcement, .assignment_section {
  border: 2px solid darkgray;
  border-radius: 10px;
  margin: 1%;
  padding: 0% 3% 0% 3%;
}

.announcement_title, .course_title {
  color: black;
}

.course {
  border-radius: 10px;
  background-color: orange;
  margin: 1%;
  padding: 10% 3% 10% 3%;
}

.course_title {
  background-color: orange;
  font-size: 110%;
}

.assignment_title {
  font-weight: normal;
}

.announcement_form, .assignment_form {
  width: 100%;
}

button {
  background-color: lightgray;
  width: 40%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 0% 1% 0%;
}

#user_search, #user_search>* {
    background-color: lightgray;
}

#name_email_search {
    background-color: white;
    width: 90%;
    font-size: 120%;
}

.user_li {
    border: 2px solid black;
    background-color: lightgray;
}

.user_span {
    font-size: 110%;
    background-color: lightgray;
    padding-left: 5px;
}
