* {
  background-color: maroon;
  font-family: Arial;
}

h2 {
  color: white;
}

#dashboard_header {
  padding-left: 21.5%;
}

#course_header {
  padding-left: 15%;
}

#course_header_announcements {
  padding-left: 22.5%
}

@media (min-width: 768px) {
  #main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  #main_menu {
    flex: 10%;
    background-color: darkgray;
    font-weight: bold;
    font-size: 120%;
  }

  #course_menu {
    flex: 10%;
    background-color: darkgray;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.3%;
  }

  #main_panel {
    flex: 43%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #courses_panel {
    flex: 43%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
  }

  #assignments_panel {
    flex: 17%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  .course {
    border-radius: 10px;
    background-color: orange;
    height: 80%;
    width: 30%;
    margin: 1%;
    padding: 10% 3% 10% 3%;
  }

  #settings_user_panel {
      flex: 50%;
      display: flex;
      flex-direction: column;
      padding: 1%;
  }

  #all_courses_div {
      flex: 50%;
      display: flex;
      flex-direction: column;
      padding: 1%;
  }
}

@media (max-width: 767px) {
  #main {
    display: flex;
    flex-direction: column;
  }

  #main_menu {
    flex: 100%;
    background-color: darkgray;
    font-weight: bold;
    font-size: 120%;
  }

  #course_menu {
    flex: 100%;
    background-color: darkgray;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.3%;
  }

  #main_panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #courses_panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  #assignments_panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  .course {
    border-radius: 10px;
    background-color: orange;
    height: 80%;
    width: 90%;
    margin: 1%;
    padding: 10% 3% 10% 3%;
  }

  #settings_user_panel {
      flex: 100%;
      display: flex;
      flex-direction: column;
      padding: 1%;
  }

  #all_courses_div {
      flex: 100%;
      display: flex;
      flex-direction: column;
      padding: 1%;
  }
}

.column {
  margin: 1%;
}

ul {
  list-style-type: none;
  padding: 0%;
}

a {
  text-decoration: none;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0px
}

th {
    background-color: dimgray;
    color: white;
    border: 2px solid black;
    padding: 4px 8px;
}

td {
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px 8px;
}

.main_menu_items {
  background-color: dimgray;
  color: white;
}

.selected_menu_item {
    background-color: white;
    color: dimgray;
    cursor: default;
    border-bottom: 3px solid darkgray;
    padding: 8% 12% 8% 12%;
}

.selected_menu_item>* {
    background-color: white;
    color: dimgray;
}

li.main_menu_items {
  border-bottom: 3px solid darkgray;
  padding: 8% 12% 8% 12%;
}

li.course_menu_items {
  background-color: dimgray;
  border-top: 2px solid darkgray;
  padding: 6%;
}

li.course_menu_items>* {
  background-color: dimgray;
  color: white;
}

li.selected_course_menu_item {
    background-color: white;
    color: dimgray;
    cursor: default;
    border-top: 2px solid darkgray;
    padding: 6%;
}

li.selected_course_menu_item>* {
  background-color: white;
  color: dimgray;
}

h3, p, #main_panel, .announcement, .announcement_title, #assignments_panel, .assignment, .assignment_section, .assignment_section_title, .assignment_title, .announcement_form, .assignment_form {
  background-color: white;
}

.announcement, .assignment_section {
  border: 2px solid darkgray;
  border-radius: 10px;
  margin: 1%;
  padding: 0% 3% 0% 3%;
}

.announcement_title, .course_title {
  color: black;
}

.course_title {
  background-color: orange;
  font-size: 110%;
  text-align: center;
}

button {
  background-color: lightgray;
  width: 40%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 0% 1% 0%;
}

form {
    background-color: gray;
    border: 1px solid black;
    width: 50%;
}

.announcement_form, .assignment_form {
  width: 98%;
}

label {
    background-color: gray;
    margin-left: 5px;
}

.signup_warning {
    background-color: gray;
    font-size: 11px;
    font-style: italic;
    margin: 0px;
}

input, textarea, select {
    margin: 3px;
    background-color: gainsboro;
}

#add_course_button {
    width: 150px;
    height: 100px;
    font-size: 18pt;
    padding: 10px;
    color: white;
    background-color: dimgray;
}

#add_course_form, #submit_course {
    display: none;
}

#user_search, #user_search>* {
    background-color: lightgray;
}

#name_email_search {
    background-color: white;
    width: 90%;
    font-size: 120%;
}

.user_li {
    border: 2px solid black;
    background-color: lightgray;
}

.user_span {
    font-size: 110%;
    background-color: lightgray;
    padding-left: 5px;
}

.class_list {
    font-size: 110%;
    background-color: lightgray;
    padding-left: 5px;
    display: inline;
}

.class_li {
    display: inline;
    background-color: lightgray;
    padding-right: 12px;
    padding-left: 7px;
    border-right: 2px solid black;
}

.inline_button {
    display: inline;
    font-size: 80%;
    width: 10%;
    padding: 2px;
    margin: 8px;
}

.add_class_ul {
    background-color: lightgray;
    border: 2px black;
    border-style: solid none;
}

.add_class_ul>* {
    background-color: lightgray;
    padding: 5px;
}

.add_specific_class_button {
    margin: 5px;
}
